{% load fairdm contributor_tags easy_icons %}

{% with obj as contributor %}
  <c-card class="overflow-hidden h-100">
    <div class="card-img ratio ratio-1x1">
      <c-widgets.avatar :contributor="obj" only />
    </div>
    <c-card.body class="card-img-overlay">
      <c-widgets.follow :object="obj"
                        class="border-0 position-absolute top-0 end-0 fs-6 z-2"
                        :show_text="False" />
      <a href="{{ obj.get_absolute_url }}"
         class="stretched-link"></a>
      {{ slot }}
      <h5 class="card-title fs-6 position-absolute bottom-0 mb-2">
        <c-contributor.person.identifier hide_url />
        {{ contributor }}
      </h5>
    </c-card.body>
    {% if actions %}
      <c-card.footer class="z-3">
        {{ actions }}
      </c-card.footer>
    {% endif %}
  </c-card>
{% endwith %}
