{% load fairdm contributor_tags easy_icons %}

{% with obj as contributor %}
  <c-bs5.card class="overflow-hidden h-100">
    <div class="card-img-top ratio ratio-1x1">
      <c-widgets.avatar :contributor="obj" only />
    </div>
    <c-bs5.card.body class="border-top">
      <h5 class="card-title fs-6">
        <c-contributor.person.identifier hide_url />
        {{ contributor }}
      </h5>
      <c-widgets.follow :object="obj"
                        class="border-0 position-absolute top-0 end-0 fs-6 z-2"
                        :show_text="False" />
      <a href="{{ obj.get_absolute_url }}"
         class="stretched-link"
         data-bs-toggle="modal"
         data-bs-target="#edit-contributor-modal"></a>
      {% comment %} <a href="" class="stretched-link" data-bs-toggle="modal" data-bs-target="#edit-contributor-modal"></a> {% endcomment %}
    </c-bs5.card.body>
    {% if actions %}
      <c-bs5.card.footer class="z-3">
        {{ actions }}
      </c-bs5.card.footer>
    {% endif %}
  </c-bs5.card>
{% endwith %}
