<c-vars cols="1" card="" />
<div class="list-view">
  <c-list.header :title="page.title"
                 subtitle="Showing {{ object_list.count }} results"
                 :description="True"
                 :filter="filter" />
  <c-grid cols="{{ cols }}" gap="4">
    {% for object in object_list %}
      <div class="col">{% include card %}</div>
    {% empty %}
      <c-list.empty-state />
    {% endfor %}
  </c-grid>
  <!-- Pagination -->
  <c-list.pagination :is_paginated="is_paginated"
                     :page_obj="page_obj"
                     :request="request" />
  <!-- Results Summary -->
  <c-list.results-summary :is_paginated="is_paginated"
                          :page_obj="page_obj"
                          :object_list="object_list" />
  {% if filter %}
    <!-- Mobile Offcanvas Filter -->
    <c-list.mobile-filters>
      {% include "partials/filters.html" with mobile=True %}
    </c-list.mobile-filters>
  {% endif %}
</div>
