{% load crispy_forms_tags fairdm %}

<c-vars id
        form_action
        icon
        input_placeholder
        empty_message
        single_result />
<style>
  .modal-body {
    height: 65vh;
  }
</style>
<form method="post"
      enctype="multipart/form-data"
      action="{% plugin_url "contributors-add-from-orcid" %}"
      x-data="{{ id }}"
      id="{{ id }}Form"
      {{ attrs }}>
  {% csrf_token %}
  <c-bs5.modal id="{{ id }}Modal"
               x-ref="modal"
               dialog_class="modal-dialog-centered modal-dialog-scrollable"
               body_class="p-0"
               footer_class="d-block text-left">
    <div class="modal-header">{{ header }}</div>
    <c-bs5.modal.body>
      <!-- Error message if request fails -->
      <p x-show="error" class="error" x-text="error"></p>
      <ul class="result-list list-group list-group-flush border-0"
          x-show="matches.length > 0"
          :class="{'show': matches.length > 0}">
        <template x-for="item in matches">
          <li class="list-group-item hstack gap-1">
            {{ template }}
            {% comment %} <button class="btn btn-sm btn-success text-nowrap" name="data" :value="JSON.stringify(item)" hx-target="#contributorList" hx-swap="beforeend" hx-post="{% url "contribution-create" uuid=base_object.uuid %}"> {% endcomment %}
            <button class="btn btn-sm btn-success text-nowrap"
                    name="data"
                    type="submit"
                    :value="JSON.stringify(item)">
              {% icon "plus" %}
              {% trans "Add" %}
            </button>
          </li>
        </template>
      </ul>
      <div x-show="matches.length === 0"
           class="p-2 vstack text-center justify-content-center align-items-center h-100">
        {% if empty_container %}
          {{ empty_container }}
        {% else %}
          <div>{% icon icon height="96px" %}</div>
          <p>{{ empty_message }}</p>
        {% endif %}
      </div>
      <c-components.spinner x-show="matches.length === 0" centered />
    </c-bs5.modal.body>
  </c-bs5.modal>
</form>
