{# @description The signed-in user's avatar: the thumbnail of their image, or an anonymous-user icon when they have none. Reads `user` from the template context. Any other attribute is passed to the image. #}
{# @prop class:text | description:"CSS classes for the image or the fallback icon." #}
{% load dac %}

<c-vars class />
{% if user.image %}
  <img src="{{ user.image.thumb.url }}"
       class="{{ class }}"
       {{ attrs }} />
{% else %}
  <c-icons.anon-user class="svg-inline--fa fa-lg {{ class }}" />
{% endif %}
