{% load crispy_forms_tags %}

<c-sections.sidebar id="filterSidebar"
                    x-data
                    hx-target="#table-wrapper"
                    :attrs="attrs">
  <form id="filterForm"
        x-ref="filterForm"
        action="{{ request.path }}"
        hx-get="{{ request.path }}"
        hx-target="main"
        hx-select="main"
        method="get">
    {{ filter.form|crispy }}
  </form>
  <c-slot name="footer">
    <c-components.link text="{% trans "Clear all" %}"
                       style="secondary"
                       icon="cancel"
                       @click="$refs.filterForm.reset();"
                       hx-get="{{ request.path }}"
                       data-bs-dismiss="offcanvas"
                       data-bs-target="#filterSidebar" />
    <c-components.button text="{% trans "Apply filters" %}"
                         icon="arrow-right"
                         icon_position="end"
                         style="primary"
                         type="submit"
                         form="filterForm"
                         data-bs-dismiss="offcanvas"
                         data-bs-target="#filterSidebar" />
  </c-slot>
</c-sections.sidebar>
