<!-- Mobile Offcanvas Header -->
<div class="d-flex justify-content-center align-items-center position-relative pt-3 pb-2"
     style="max-height: 100px">
  <h2 class="fw-bold"
      id="{{ label_id|default:'mobileNavbarLabel' }}">{{ brand_name|default:'FairDM' }}</h2>
  <button type="button"
          class="btn btn-outline-secondary btn-sm position-absolute top-50 end-0 translate-middle-y"
          data-bs-dismiss="offcanvas"
          aria-label="{{ close_label|default:'Close' }}">
    <c-icon name="chevron-left" />
  </button>
</div>
