{% load easy_icons %}

<c-vars icon="person" for="person" :circle="False" class />
{% if not contributor.image %}
  <div class="{{ class }} ratio {% if for == "person" %}ratio-1x1 {% if circle %}overflow-hidden rounded-circle{% endif %} {% else %}ratio-16x9 {% endif %} "
       {{ attrs }}>
    <div class="w-100 bg-secondary-subtle text-light">{% icon contributor.type class="w-100 h-100" %}</div>
  </div>
{% elif contributor.type == "person" %}
  <div class="bg-body overflow-hidden text-secondary ratio ratio-1x1 {% if circle %}rounded-circle{% endif %} {{ class }}">
    <img src="{{ contributor.image.url }}" />
  </div>
{% elif contributor.type == "organization" %}
  <div class="bg-body overflow-hidden text-secondary ratio ratio-21x9 {{ class }}">
    <img src="{{ contributor.image.url }}"
         class="object-fit-contain px-1" />
  </div>
{% endif %}
