{% extends "base.html" %}
{% load static i18n %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags widget_tweaks %}

{% block main %}
  <c-page sidebar_expand="md">
    <c-page.toolbar compact>
      <h1 class="fs-5 mb-0">
        <c-icon name="sample" />
        {{ current_model_verbose_name_plural }}
      </h1>
      <c-slot name="end">
        <c-page.toolbar.sidebar-widget />
      </c-slot>
    </c-page.toolbar>
    <c-page.content tight>
      <c-django-table2 bg_striped />
    </c-page.content>
    <c-page.sidebar border>
      <div class="p-3">
        <h1 class="fs-5">{% trans "Filters" %}</h1>
        {% crispy filter.form %}
      </div>
    </c-page.sidebar>
    <c-page.footer.pagination :page_obj="table.page" compact page_info />
  </c-page>
  <!-- Page Information Modal -->
  {% comment %} {% include "partials/page_info_modal.html" %} {% endcomment %}
{% endblock main %}
