<c-components.menu>
  {% for item in menu %}
    {% if item.visible %}
      {% if not item.children %}
        <c-components.menu.item href="{{ item.url }}"
                                text="{{ item.label }}"
                                icon="{{ item.icon }}" />
      {% else %}
        <c-components.menu.group text="{{ item.label }}" />
        {% for child in item %}
          {% if child.visible %}
            <c-components.menu.item href="{{ child.url }}"
                                    text="{{ child.label }}"
                                    icon="{{ child.icon }}" />
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
  {% endfor %}
</c-components.menu>
