.fdm-card {
  @include media-breakpoint-up(md) {
    .card-text.preview {
      --line-clamp-n: 5;
    }
  }

  .card-title {
    --line-clamp-n: 2;
    @extend .line-clamp;
  }

  .card-lead {
    --line-clamp-n: 2;
    @extend .line-clamp;
  }

  .card-text.preview {
    --line-clamp-n: 8;
    @extend .line-clamp;
  }
}
