
// $fairdm-primary: #6c3ccc;
$fairdm-primary: #08376b;
$fairdm-accent: #ffe484;
$primary:       $fairdm-primary;
// $bd-purple:        $fairdm-primary;
// $bd-purple:        #4c0bce;
// $bd-accent:        #ffe484;
// $bd-accent:        $fairdm-accent;



$sidebar-width:              275px !default;
$card-border-radius:         1rem !default;
$enable-gradients:           false !default;
$enable-shadows:             false !default;
// $headings-font-weight:        475 !default;
// $headings-line-height:        1.2 !default;
$enable-grid-classes: false;
$enable-cssgrid: false;
// $offcanvas-horizontal-width: 350px !default;