{% load partials render_fields %}

<c-layouts.plugin>
  <c-slot name="actions">
    {% comment %} {% if user_can_edit %} {% endcomment %}
    <c-components.link icon="edit"
                       text="{% trans "Edit" %}"
                       href="{% url "description-formset" uuid=object.uuid %}" />
    {% comment %} {% endif %} {% endcomment %}
  </c-slot>
  <c-components.image class="ratio ratio-21x9 {{ image_class }}"
                      :image="object.image"
                      alt="{{ object }}"
                      width="100%"
                      height="100%" />
  <c-pst.components.section id="title"
                            class="mt-4"
                            title="{{ object.verbose_name }}"
                            level="1">
    {% render_fieldsets object object.config.get_fieldsets %}
  </c-pst.components.section>
  <hr style="--pst-color-border: var(--bs-gray-500);" />
  <c-pst.components.section title="{% trans "Measurements" %}"
                            class="mt-4"
                            level="2"
                            :visible="object.measurements.exists">
    <div class="mt-3">
      {% for measurement in object.measurements.all %}
        <div class="mb-3">{% include measurement.get_template_name with obj=measurement %}</div>
      {% endfor %}
    </div>
  </c-pst.components.section>
</c-layouts.plugin>
