{% load literature fairdm easy_icons %}

<c-card title="{{ obj.title }}">
</c-card>
{% block card_header %}
  <div class="position-absolute top-0 end-0 m-2">
    <span class="badge rounded-pill text-bg-success">{{ obj.review.get_status_display }}</span>
  </div>
{% endblock card_header %}

{% block card_body %}
  <div class="text-truncate">
    {# djlint:off #}
  {% for author in obj.CSL.author %}
    {{ author.family }}, {{ author.given }}{% if not forloop.last %},{% endif %}
  {% endfor %}
    {# djlint:on #}
  </div>
  <h5 class="card-title">{{ obj.title }}</h5>
  <p class="card-text line-clamp max-lines-5">
    {% if obj.CSL.abstract %}{{ obj.CSL.abstract }}{% endif %}
  </p>
  <div class="container pt-2 d-flex justify-content-between">
    {% if obj.review.status == 2 %}
      <div>{% trans "Submitted by" %}: {{ obj.review.reviewer }}, {{ obj.review.submitted|date }}</div>
      <div>{% trans "Accepted by" %}: TBD, {{ obj.review.accepted|date }}</div>
    {% elif obj.review %}
      {% trans "Under review by" %}: {{ obj.review.reviewer }}
      <div>{% trans "Due by" %}: Future Date TBD</div>
    {% endif %}
  </div>
{% endblock card_body %}

{% block card_footer_content %}
  {% if obj.CSL.URL %}
    <a href="{{ obj.CSL.URL }}"
       class="btn btn-sm btn-primary me-1 z-2">
      <i class="fa-solid fa-globe"></i>
      {% trans "View online" %}
    </a>
  {% endif %}
{% endblock card_footer_content %}

{% block card_end %}
{% endblock card_end %}
