{% load i18n %}

<c-vars class text_light />
<div class="card border-0 shadow-none {{ class }}">
  <div class="card-body d-flex flex-column align-items-center gap-2">
    <c-avatar :user="object"
              badge_text="{% if object.is_active %}{% trans "Active" %}{% else %}{% trans "Inactive" %}{% endif %}"
              badge_variant="{% if object.is_active %}success{% else %}warning{% endif %}" />
    <h5 class="card-title {% if text_light %}text-light{% endif %}">{{ object }}</h5>
    {% if object.orcid %}
      <a href="{{ object.get_absolute_url }}"
         class="link-secondary {% if text_light %}text-light{% endif %} link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
        <c-icon name="orcid" />
        {{ object.orcid.value }}
      </a>
    {% endif %}
  </div>
  {% if footer %}<div class="card-footer border-0 bg-body">{{ footer }}</div>{% endif %}
</div>
