<c-vars container_class="bd-article-container" />
<c-layouts.base>
  {% if sidebar_primary and sidebar_primary.items %}
    <c-component :is="sidebar_primary.component"
                 :attrs="sidebar_primary" />
  {% elif sidebar_primary %}
    <c-sections.sidebar.primary class="invisible" />
  {% endif %}
  <c-pst.sections.main class="{{ main_class }}">
    <div class="bd-content {{ content_class }}">
      <div class="{{ container_class }}">
        <c-layouts.article.header>
          {{ actions }}
        </c-layouts.article.header>
        <c-pst.components.searchbox />
        <c-pst.sections.article>
          {{ slot }}
        </c-pst.sections.article>
        <c-pst.sections.article.footer>
          {{ article_footer }}
        </c-pst.sections.article.footer>
      </div>
      {% if sidebar_secondary and sidebar_secondary.items %}
        <c-component :is="sidebar_secondary.component"
                     :attrs="sidebar_secondary"
                     only />
      {% elif sidebar_secondary %}
        <c-sections.sidebar.secondary class="invisible" />
      {% endif %}
    </div>
    <c-pst.sections.footer-content />
  </c-pst.sections.main>
</c-layouts.base>
