{% extends "fairdm/base.html" %}
{% load static compress %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ swagger_ui_css }}" />
{% endblock css %}

{% block content %}
  <c-layouts.standard>
    <div id="swagger-ui"></div>
  </c-layouts.standard>
{% endblock content %}

{% block js %}
  {{ block.super }}
  <script src="{{ swagger_ui_bundle }}"></script>
  <script src="{{ swagger_ui_standalone }}"></script>
  {% if script_url %}
    <script src="{{ script_url }}"></script>
  {% else %}
    {# djlint:off #}
  <script>{% include template_name_js %}</script>
    {# djlint:on #}
  {% endif %}
{% endblock js %}
