{# @description A link to a contributor's default identifier, shown as its icon with a tooltip saying whether the ORCID is authenticated. Renders nothing when the contributor has no default identifier. Reads the context variable `contributor`. #}
{% if contributor.get_default_identifier %}
    <a class="text-decoration-none"
       href="{{ contributor.get_default_identifier.get_absolute_url }}"
       data-bs-toggle="tooltip"
       data-bs-html="true"
       data-bs-custom-class="tooltip-primary"
       data-bs-placement="bottom"
       {% if contributor.orcid_is_authenticated %} data-bs-title="{% trans "This ORCID is <em>authenticated</em>." %}" {% else %} data-bs-title="{% trans "This ORCID is <em>unauthenticated</em>." %}"  {% endif %}>{% icon contributor.icon height="1em" %}</a>
{% endif %}
