<c-vars contribution />
<div class="d-flex align-items-center gap-3">
  <c-avatar src="{{ contributor.get_profile_image }}"
            size="md" />
  <div class="overflow-hidden">
    <div class="fw-semibold text-truncate">{{ contribution.contributor }}</div>
    <div class="text-secondary small text-truncate">
      {% for role in contribution.roles.all %}
        <span class="me-1">{{ role.label }}
          {% if not forloop.last %}|{% endif %}
        </span>
      {% endfor %}
    </div>
  </div>
</div>
