{% comment %} <c-components.menu hx-boost="true" hx-push-url="false"> {% endcomment %}
<c-components.menu>
  {% for heading in menu %}
    {% if heading.visible %}
      <c-components.menu.group text="{{ heading.label }}" />
      {% for item in heading %}
        {% if item.visible %}
          <c-components.menu.item href="{{ item.url }}"
                                  text="{{ item.label }}"
                                  icon="{{ item.icon }}"
                                  :active="item.selected" />
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</c-components.menu>
