{% load easy_icons %}

<c-vars :collapse_after="4" />
<nav>
  <ul class="bd-navbar-elements navbar-nav">
    {% for item in menu %}
      {% if item.visible and forloop.counter0 < collapse_after %}
        <c-pst.components.navbar.nav-item :current="item.active"
                                          href="{{ item.url }}"
                                          text="{{ item.label }}" />
      {% endif %}
    {% endfor %}
    {% comment %} Handle overflow as dropdown {% endcomment %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle"
         href="#"
         role="button"
         data-bs-toggle="dropdown"
         aria-expanded="false">More</a>
      <ul class="dropdown-menu">
        {% for item in menu %}
          {% if item.visible and forloop.counter0 >= collapse_after %}
            <c-pst.components.navbar.nav-item :current="item.active"
                                              href="{{ item.url }}"
                                              text="{{ item.label }}" />
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>
