<c-vars level="1" text />
{# djlint:off #}
{% if text %}
<div class="pt-2">
  <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
    <div class="d-flex gap-1 mb-3 mb-md-0">{{ slot }}</div>
    {% if text %}<h{{ level }} class="text-nowrap {{ class }}" {{ attrs }}>{{ text }}
      {% if id %}
      <a class="headerlink"
      href="#{{ id }}"
      title="{% trans "Link to this heading" %}">#</a>
      {% endif %}
    </h{{ level }}>{% endif %}
  </div>
  {% if lead %}<p class="bd-lead">{{ lead }}</p>{% endif %}
  {% if hr %}<hr />{% endif %}
</div>
{% endif %}
{# djlint:on #}
