{% extends "fairdm/base.html" %}
{% load static %}

{% block content %}
  <div class="list-view container-xxl">
    <div class="row mt-4">
      <!-- Desktop Sidebar -->
      <div class="col-lg-3 d-none d-lg-block border-end">
        <c-list.filter-sidebar>
          {% include "partials/filters.html" %}
        </c-list.filter-sidebar>
      </div>
      <!-- Main Content Area -->
      <div class="col-lg-9">
        <c-list card="{{ card_template }}"
                cols="{{ cols|default:"1" }}" />
      </div>
    </div>
  </div>
  <!-- Page Information Modal -->
  {% include "partials/page_info_modal.html" %}
{% endblock content %}
