{% extends "layouts/base.html" %}
{# This template extends cotton_layouts/templates/layouts/base.html #}
{# which provides the foundation for all FairDM pages with the configured layout system #}
{% block extra_css %}
        {{ block.super }}
        <script type="text/javascript"
                src="{% url 'javascript-catalog' %}"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.4/dist/htmx.min.js"></script>
        <script src="//unpkg.com/alpinejs" defer></script>
{% endblock extra_css %}

{% block extra_js %}
        {{ block.super }}
{% endblock extra_js %}
