{% extends "fairdm/base.html" %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% endblock css %}

{% block content %}
  <c-layouts.standard>
    <c-text.heading level="2" text="{% trans "Explore" %}" />
    <c-fdm.dashboard.slider id="explore">
      {% for item in theme_options.home.explore %}<c-component :is="item" />{% endfor %}
    </c-fdm.dashboard.slider>
    <c-text.heading level="2" text="{% trans "Create" %}" />
    <c-fdm.dashboard.slider id="create">
      {% for item in theme_options.home.create %}<c-component :is="item" />{% endfor %}
    </c-fdm.dashboard.slider>
    <c-text.heading level="2" text="{% trans "More" %}" />
    <c-fdm.dashboard.slider id="more">
      {% for item in theme_options.home.more %}<c-component :is="item" />{% endfor %}
    </c-fdm.dashboard.slider>
  </c-layouts.standard>
{% endblock content %}

{% block footer %}
  <c-sections.footer class="text-center">
    <h2>{% trans "Credits" %}</h2>
    <p>
      {% trans "This reasearch data portal was established with the support of the following organizations in order to advance research infrastructure and data sharing for the benefit of the scientific research community." %}
    </p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 align-items-center">
      {% for sponsor in theme_options.sponsors %}
        <div class="col">
          <a href="{{ sponsor.url }}">
            <img src="{% static sponsor.image %}"
                 class="object-fit-cover"
                 height="auto"
                 width="auto"
                 title="{{ sponsor.name }}" />
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="d-flex justify-content-center gap-3 mb-1 mt-5">
      {% block footer_links %}
        <a href="https://fairdm.org">{% trans "FairDM Framework" %}</a>
      {% endblock footer_links %}

    </div>
  </c-sections.footer>
{% endblock footer %}
