{# @description A dropdown button that offers to create a project or a dataset. Renders only for authenticated users, reading `user` from the template context. #}
{% if user.is_authenticated %}
  <c-mvp.dropdown text="{% trans "Create new" %}"
              icon="plus"
              halign="end"
              gap="1"
              :caret="False"
              variant="primary"
              size="sm"
              class="show-btn-text">
    <c-menu class="w-full">
      <c-menu.item text="{% trans "Project" %}"
                   icon="project"
                   href="{% url "project-create" %}" />
      <c-menu.item text="{% trans "Dataset" %}"
                   icon="dataset"
                   href="{% url "dataset-create" %}" />
    </c-menu>
  </c-mvp.dropdown>
{% endif %}
