{% load crispy_forms_tags %}

<c-layouts.plugin>
  <c-text.heading level="1" text="{% trans "Import data" %}">
    <c-bs5.dropdown id="import-export-dropdown">
      <c-slot name="button">
        <c-components.button class="dropdown-toggle"
                             type="button"
                             data-bs-toggle="dropdown"
                             aria-expanded="false"
                             style="secondary"
                             text="{% trans "Get template" %}"
                             icon="download" />
      </c-slot>
      <c-import-export.export-dropdown :formats="view.import_formats" :dataset="dataset" />
    </c-bs5.dropdown>
  </c-text.heading>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <c-components.button type="submit"
                         style="primary"
                         icon="upload"
                         text="{% trans "Submit" %}" />
  </form>
  <c-slot name="sidebar_right">
    <div class="sidebar-secondary-item">
      <c-sections.sidebar.right id="pst-secondary-sidebar" title="Test">
        {% trans "Please ensure that you are importing data using the correct template for this data type! To learn more about importing data into this portal, please see the documentation." %}
      </div>
    </c-sections.sidebar.right>
  </c-slot>
</c-layouts.plugin>
