{% extends "fairdm/base.html" %}
{% load crispy_forms_tags fairdm widget_tweaks static %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}

{% partialdef table %}
<div id="table-wrapper"
     class="overflow-hidden vstack h-100"
     hx-target="this"
     hx-swap="outerHTML"
     :hx-vals="JSON.stringify({'dataset': '{{ dataset.uuid }}'})"
     :class="{'position-fixed vh-100 top-0 start-0 w-100': isFullscreen}"
     x-data="{'isFullscreen': false, submit() { htmx.trigger(this.$refs.filter, 'submit'); }, 'num_pages': {{ table.paginator.num_pages }}, 'page': {{ table.page.number }}, 'page_size': {{ table.paginator.per_page }}, 'total_objects': {{ total_object_count }}, 'sampleType': '{{ current_type }}' }">
  {% render_table table %}
  <c-components.spinner id="tableIndicator" class="fs-1" centered />
</div>
{% endpartialdef %}

{% block content %}
  {% if request.htmx %}
    {% partial table %}
  {% else %}
    <c-layouts.standard>
      {% partial table %}
      <c-sections.sidebar.form :form="filter.form" />
    </c-layouts.standard>
  {% endif %}
{% endblock content %}
