{% extends "fairdm/base.html" %}
{% load static %}

{% url "account_login" as login_url %}
{% url "account_signup" as signup_url %}
{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}"
        type="text/css"
        media="all"
        rel="stylesheet" />
  <link href="{% static 'plugins/css/resizable.min.css' %}"
        type="text/css"
        media="all"
        rel="stylesheet" />
  {% comment %} <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" /> {% endcomment %}
{% endblock css %}

{% block content %}
  <c-layouts.standard>
    {% if sections.heading %}<c-component :attrs="sections.heading" />{% endif %}
    {% if form_visible %}
      <c-component :attrs="sections.form" />
    {% else %}
      <c-bs5.alert>
        {% blocktrans %}
      Only authenticated users may perform this action. <a href="{{ login_url }}">Login</a> or <a href="{{ signup_url }}">create an account</a> now to get started.
      {% endblocktrans %}
      </c-bs5.alert>
    {% endif %}
  </c-layouts.standard>
{% endblock content %}

{% block js %}
  <script type="text/javascript"
          src="{% static 'plugins/js/ace.js' %}"></script>
  <script type="text/javascript"
          src="{% static 'plugins/js/mode-markdown.js' %}"></script>
  {% comment %} <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
  <script type="text/javascript"
          src="{% static 'plugins/js/theme-github.js' %}"></script> {% endcomment %}
  {% comment %} <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
  <script type="text/javascript"
          src="{% static 'plugins/js/spellcheck.js' %}"></script> {% endcomment %}
  {% comment %} <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script> {% endcomment %}
  <script type="text/javascript"
          src="{% static 'plugins/js/resizable.min.js' %}"></script>
  {% comment %} <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
  <script type="text/javascript"
          src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script> {% endcomment %}
{% endblock js %}
