{% extends "fairdm/base.html" %}
{% url "account_login" as login_url %}
{% url "account_signup" as signup_url %}
{% block content %}
  <c-layouts.standard>
    {% if sections.heading %}<c-component :attrs="sections.heading" />{% endif %}
    {% if form_visible %}
      <c-component :attrs="sections.form" />
    {% else %}
      <c-bs5.alert>
        {% blocktrans %}
      Only authenticated users may perform this action. <a href="{{ login_url }}">Login</a> or <a href="{{ signup_url }}">create an account</a> now to get started.
      {% endblocktrans %}
      </c-bs5.alert>
    {% endif %}
  </c-layouts.standard>
{% endblock content %}
