{% extends "mvp/landing.html" %}
{% load i18n static %}

{% block page.hero %}
  <c-section.hero height="75vh"
                  title="{{ hero_content.title }}"
                  subtitle="{{ hero_content.lead }}"
                  bg-image="{% static hero_content.image %}">
    <c-slot name="actions">
      <c-button text="{% trans "Login to your account" %}"
                icon="login"
                size="lg"
                variant="primary"
                href="{% url "account_login" %}" />
      <c-button text="{% trans "Join the community" %}"
                icon="people"
                size="lg"
                variant="light"
                href="{% url "account_signup" %}" />
    </c-slot>
  </c-section.hero>
{% endblock page.hero %}
