{% extends "fairdm/base.html" %}
{% load static %}

{% block content %}
  <div class="list-view container-xxl">
    <div class="row mt-4">
      <!-- Desktop Sidebar -->
      <div class="col-lg-3 d-none d-lg-block border-end">
        <c-list-view.filter-sidebar>
          {% include "partials/filters.html" %}
        </c-list-view.filter-sidebar>
      </div>
      <!-- Mobile Offcanvas Filter -->
      <c-list-view.mobile-filters>
        {% include "partials/filters.html" with mobile=True %}
      </c-list-view.mobile-filters>
      <!-- Main Content Area -->
      <div class="col-lg-9">{% include "fairdm/partials/object_list.html" %}</div>
    </div>
  </div>
  <!-- Page Information Modal -->
  {% include "partials/page_info_modal.html" %}
{% endblock content %}
