{% load static partials crispy_forms_tags %}

<c-layouts.form sidebar_primary sidebar_secondary>
  {{ form.media.css }}
  <c-text.heading text="{{ title }}" />
  {% if view.help_text %}
    <c-sections.info-block>
      {{ view.help_text }}
    </c-sections.info-block>
  {% endif %}
  <form method="post"
        {% if request.htmx.target %}hx-target="#{{ request.htmx.target }}"{% endif %}>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">{% trans "Save & Continue" %}</button>
  </form>
  {{ form.media.js }}
</c-layouts.form>
