{% load static flex_menu partials fairdm i18n %}
{% load render_bundle from webpack_loader %}

<c-layouts.plugin :title="object">
  <c-slot name="actions">
    {% comment %} <c-components.button class="text-success" href="{% url "description-formset" uuid=object.uuid %}" hx-get="{% url "description-formset" uuid=object.uuid %}" icon="edit" /> {% endcomment %}
  </c-slot>
  <c-contributor.names class="fs-6 text-secondary mt-1 mb-3"
                       :contributors="object.contributors.all"
                       role="Creator" />
  <c-description-section :descriptions="object.get_descriptions_in_order" />
</c-layouts.plugin>
{% comment %} {% for modal in modals %}<c-component :is="modal" />{% endfor %} {% endcomment %}
