{% load static partials crispy_forms_tags %}

<c-layouts.form>
  {{ form.media.css }}
  {% if title %}<c-text.title title="{{ title }}" hr />{% endif %}
  {% if view.help_text %}{{ view.help_text }}{% endif %}
  <form method="post"
        {% if request.htmx.target %}hx-target="#{{ request.htmx.target }}"{% endif %}>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">{% trans "Save & Continue" %}</button>
  </form>
  {{ form.media.js }}
</c-layouts.form>
