{% extends "layouts/detail_view.html" %}
{% load static flex_menu %}

{% block extra_css %}
  {{ block.super }}
  {{ plugin_media.css }}
{% endblock extra_css %}

{% block extra_js %}
  {{ block.super }}
  {{ plugin_media.js }}
{% endblock extra_js %}

{% block content %}
  <!-- Colored Top Border based on Object Type -->
  <div class="border-top border-3 border-{{ base_model_name }}"
       style="height: 3px"></div>
  {{ block.super }}
{% endblock content %}

{% block page_content %}
  {% block plugin %}
    {% trans "If you're seeing this, you haven't created a template for your plugin yet!" %}
  {% endblock plugin %}
{% endblock page_content %}

{% block sidebar_content %}
  <!-- Explore Section -->
  {% render_menu menus.explore uuid=base_object.uuid instance=object renderer="sidebar" %}
  <!-- Actions Section -->
  {% render_menu menus.actions uuid=base_object.uuid instance=object renderer="sidebar" %}
{% endblock sidebar_content %}
