{% extends "detail_view.html" %}
{% load static flex_menu %}

{% block extra_css %}
  {{ block.super }}
  {{ plugin_media.css }}
{% endblock extra_css %}

{% block extra_js %}
  {{ block.super }}
  {{ plugin_media.js }}
{% endblock extra_js %}

{% block header_tray %}
  {% render_menu menus.explore renderer="nav" uuid=base_object.uuid instance=object %}
{% endblock header_tray %}

{% block content %}
  {% trans "If you're seeing this, you haven't created a template for your plugin yet!" %}
{% endblock content %}

{% block sidebar_content %}
  <!-- Explore Section -->
  {% render_menu menus.explore uuid=base_object.uuid instance=object renderer="sidebar" %}
  <!-- Actions Section -->
  {% render_menu menus.actions uuid=base_object.uuid instance=object renderer="sidebar" %}
{% endblock sidebar_content %}
