{% load static fairdm %}

<c-layouts.plugin>
  <c-slot name="actions">
    <c-components.button icon="share"
                         text="{% trans "Share" %}"
                         data-bs-toggle="modal"
                         data-bs-target="#shareModal" />
    <c-components.button icon="email" text="{% trans "Contact" %}" />
    {% if user_can_edit %}
      <c-components.link icon="edit"
                         text="{% trans "Edit" %}"
                         href="{% url "description-formset" uuid=object.uuid %}" />
    {% endif %}
  </c-slot>
  <c-pst.components.section id="name">
    <div class="hstack mb-3">
      <div class="h-100 me-3" style="min-width: 200px;">
        <c-widgets.avatar />
      </div>
      <div>
        <c-text.heading text="{{ object.name }}" level="1" compact />
        <c-contributor.person.identifier />
        <c-contributor.person.affiliations />
        {% comment %} <c-contributor.socials /> {% endcomment %}
      </div>
    </div>
    {% if object.profile %}{{ object.profile|linebreaks }}{% endif %}
  </c-pst.components.section>
</c-layouts.plugin>
<c-modals.share />
