<c-layouts.list title="{% trans "Contributors" %}"
                cols="2"
                gap="2">
  {% comment %} <c-text.heading text="{{ object_verbose_name_plural }}" /> {% endcomment %}
  {% comment %} {% if paginator.num_pages > 1 %}<c-components.paginator />{% endif %}
  <c-bs5.grid cols="1" gap="1" :responsive="{'md': 2}" id="itemList">
    {% for obj in object_list %}
      <div class="col">{% include object_template %}</div>
    {% endfor %}
  </c-bs5.grid> {% endcomment %}
</c-layouts.list>
