{% load crispy_forms_tags partials %}

<c-layouts.plugin>
  <c-text.heading level="1" text="{% trans "Contributors" %}">
    <c-components.button icon="plus"
                         text="{% trans "Add person" %}"
                         data-bs-toggle="modal"
                         data-bs-target="#contributorModal"
                         :visible="user_can_edit" />
    <c-components.button icon="plus"
                         text="{% trans "Add organization" %}"
                         data-bs-toggle="modal"
                         data-bs-target="#RORModal"
                         :visible="user_can_edit" />
  </c-text.heading>
  {% comment %} <c-slot name="actions">
    <c-components.button icon="plus" text="{% trans "Add person" %}" data-bs-toggle="modal" data-bs-target="#contributorModal" :visible="user_can_edit" />
    <c-components.button icon="plus" text="{% trans "Add organization" %}" data-bs-toggle="modal" data-bs-target="#RORModal" :visible="user_can_edit" />
  </c-slot> {% endcomment %}
  <c-sections.object-list :attrs="grid_config"
                          card_component="contributor.card.contribution" />
  {% comment %} <c-bs5.grid cols="1" gap="1" :responsive="{'md': 2}">
    {% for obj in object_list %}
      <div class="col">{% include "contributors/contributor_card.html" with obj=obj.contributor %}</div>
    {% endfor %}
  </c-bs5.grid> {% endcomment %}
</c-layouts.plugin>
<div>
  {% for modal in modals %}<c-component :is="modal" />{% endfor %}
</div>
