<c-layouts.plugin>
  <c-org.avatar class="col-12 col-sm-9 col-md-6" />
  <div class="mb-3">
    <c-text.heading text="{{ object.name }}" level="1" compact />
    {% comment %} <c-contributor.person.identifier /> {% endcomment %}
    {% comment %} <c-contributor.person.affiliations /> {% endcomment %}
  </div>
  <div class="hstack gap-2 mb-3">
    <c-components.badge style="secondary"
                        label="{% trans "Date added" %}"
                        message="{% trans "This profile was first added to the portal on this date." %}"
                        value="{{ object.added|date }}" />
    <c-components.badge style="secondary"
                        label="{% trans "Members" %}"
                        message="{% trans "The number of members associated with this organization." %}"
                        value="{{ object.members.count }}" />
    <c-components.badge style="success"
                        label="{% trans "Active" %}"
                        message="{% trans "This contributor is an active member of this online community." %}"
                        :visible="object.owner" />
  </div>
  {% if object.profile %}{{ object.profile|linebreaks }}{% endif %}
  <c-pst.components.section id="members" title="">
    <c-text.heading level="2" text="{% trans "Members" %}" />
    <c-sections.object-list cols="4"
                            gap="2"
                            :object_list="object.members.all"
                            card="contributor.card.person_alt" />
  </c-pst.components.section>
</c-layouts.plugin>
<c-modals.share />
