<c-layouts.plugin>
  <c-org.avatar :aspect_ratio="False"
                class="py-3 object-fit-contain"
                img_style="max-height: 200px"
                :organization="base_object" />
  <div class="mb-3">
    <c-text.heading text="{{ object.name }}" level="1" compact />
    {% if object.synced_data %}
      <c-components.badge class="ms-2" color="success">
        <c-icon name="cloud-check" />
        {% trans "Synced" %}
      </c-components.badge>
    {% endif %}
    {% comment %} <c-contributor.person.identifier /> {% endcomment %}
    {% comment %} <c-contributor.person.affiliations /> {% endcomment %}
  </div>
  <div class="hstack gap-2 mb-3">
    <c-components.badge style="secondary"
                        label="{% trans "Date added" %}"
                        message="{% trans "This profile was first added to the portal on this date." %}"
                        value="{{ object.added|date }}" />
    <c-components.badge style="secondary"
                        label="{% trans "Members" %}"
                        message="{% trans "The number of community members associated with this organization." %}"
                        value="{{ object.members.count }}" />
    {% comment %} THIS NEEDS A BETTER METHOD FOR DETERMINING VISIBILITY {% endcomment %}
    <c-components.badge style="success"
                        label="{% trans "Active" %}"
                        message="{% trans "This contributor is an active member of this online community." %}"
                        :visible="object.owner" />
    {% if object.last_synced %}
      <c-components.badge style="info"
                          label="{% trans "Last Synced" %}"
                          message="{% trans "The date and time when this organization's data was last synchronized from an external source." %}"
                          value="{{ object.last_synced|date:'SHORT_DATETIME_FORMAT' }}" />
    {% endif %}
    {% for data_type, count in contributions_by_type.items %}
      <c-components.badge style="secondary"
                          label="{% trans data_type %}"
                          value="{{ count }}" />
    {% endfor %}
  </div>
  {% if object.profile %}{{ object.profile|linebreaks }}{% endif %}
  <c-pst.components.section id="members" title="">
    <c-text.heading level="2" text="{% trans "Members" %}" />
    <c-sections.object-list cols="4"
                            gap="2"
                            :object_list="object.members.all"
                            card="contributor.card.person_alt" />
  </c-pst.components.section>
</c-layouts.plugin>
<c-modals.share />
