{% load martortags %}

<c-layouts.plugin>
  <div class="d-flex flex-column gap-3 flex-md-row align-items-center my-3">
    <div class="flex-shrink-0" style="min-width: 200px">
      <c-widgets.avatar circle />
    </div>
    <div class="flex-grow-1">
      <c-text.heading text="{{ object.name }}" level="1" compact />
      <c-contributor.person.identifier />
      {% if object.primary_affiliation %}
        <div>
          <c-contributor.person.affiliation :org="object.primary_affiliation.organization"
                                            show_location />
        </div>
      {% endif %}
    </div>
  </div>
  {% if object.profile %}{{ object.profile|safe_markdown }}{% endif %}
</c-layouts.plugin>
