{% load martortags %}

{% extends "base.html" %}
{% load cotton i18n %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
  <c-layouts.plugin>
    <c-slot name="header">
      <c-widgets.avatar :person="object" size="lg" class="me-3" />
      {{ object.name }}
      {% if object.synced_data %}
        <c-components.badge class="ms-2" color="success">
          <c-icon name="cloud-check" />
          {% trans "Synced" %}
        </c-components.badge>
      {% endif %}
    </c-slot>
    <c-slot name="nav">
      <c-contributor.person.identifier :person="object" />
      <c-contributor.person.affiliation :person="object" />
      {% if object.last_synced %}
        <div class="text-muted small mt-2">
          <c-icon name="timeline" />
          {% trans "Last synced:" %} {{ object.last_synced|date:"SHORT_DATETIME_FORMAT" }}
        </div>
      {% endif %}
    </c-slot>
    {{ object.profile }}
  </c-layouts.plugin>
{% endblock %}
