{% load i18n %}

{% include "django/forms/widgets/select.html" %}
<script>
  $(document).ready(function() {
    $('#{{ widget.attrs.id }}').djangoSelect2({
      ajax: {
        url: 'https://api.ror.org/organizations',
        delay: 250,
        data: function(params) {
          return {
            query: params.term,
          }
        },
        processResults: function(data) {
          return {
            results: data.items.map(function(org) {
              return {
                id: org.id,
                text: org.name
              }
            })
          }
        },
        cache: true
      }
    })
  });
</script>
